@use "responsive";

.estimations-container {
  height: 100%;
  width: 100%;
  align-items: center;
  flex-shrink: 1;

  display: flex;
  flex-direction: column;
  gap: 5%;
  max-width: 100%;
  background: #f1f1f1;
  box-shadow: -12px 0px 35px #21263594;
  border-radius: 50px 0 0 50px;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Poppins", system-ui;
  font-weight: 500;
  font-style: normal;
}

.mat-header-cell {
  color: #f1f1f1 !important;
  background: #212635 !important;
  font-weight: bold !important
}

.table {
  color: white;
  font-weight: bold;
  padding: 1rem;
  width: 80%;
  @include responsive.font-size;
}

.mat-cell, .mat-header-cell, .mat-footer-cell {
  word-break: break-word;
  height: 8vh;
  justify-content: center;
  border-left: solid 1.5px #d5d5d5;
}

.mat-cell:first-child, .mat-footer-cell:first-child {
  border-left: none;
  justify-content: flex-start;
}

.action-buttons {
  position: sticky;
  bottom: 0;
  padding: 2vh 0;
  display: flex;
  background: #f1f1f1;
  z-index: 1000;
  justify-content: space-between;
  width: 98%;
}

.round-button {
  min-width: 44px;
  padding: 10px 0;
}

.estimation-input-wrapper {
  min-width: 50%;
  display: flex;
  justify-content: center;
}

.edit-mode {
  width: 50%;
  min-width: 25px;
  padding: 12px;
  border: solid 1px #afafaf;
  border-radius: 10px;
}

.comments-input {
  width: 90%;
}

.mat-footer-row {
  background: #2d3958 !important;
  color: white !important;
}

.toast {
  background: #e2edff;
  animation: fade-in-out 3s;
  color: black;
  position: fixed;
  top: 1rem;
  width: fit-content;
  z-index: 1000;
  left: 1rem;
  border-radius: 0 10px 10px 10px;
  padding: 15px;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

::ng-deep .mat-mdc-form-field-infix {
  width: 100% !important;
  min-width: auto !important;
  padding-top: 10px !important;
  padding-bottom: 5px !important;
}

.mat-footer-cell {
  color: white;
}

::ng-deep .action-button {
  @include responsive.button-font-size;
  position: sticky;
  bottom: 2rem;
  width: fit-content;
  height: 100%;
  padding: 1px 20px;
  color: #f1f1f1;
  align-self: flex-end;
  margin: 0 1vw;
  background: #064595;
  font-weight: bold;
  border: none;
  border-radius: 40px;
  box-shadow: 3px 3px 8px #9a9a9a;

  &:hover:not([disabled]) {
    background-color: #212635;
  }
}
