<div class="container">
  <div class="title">Results for:</div>
  <div class="current-info">
    <div class="info">
      <img alt="Task" class="icon" src="./assets/storywhite.svg" />
      <p class="category">Task:</p>
      <p class="text">{{ selectedTask }}</p>
    </div>
    <div class="info">
      <img alt="Mvp" class="icon" src="./assets/mvpwhite.svg" />
      <p class="category">MVP:</p>
      <p class="text">{{ selectedMvp }}</p>
    </div>
    <div class="info">
      <mat-icon class="est">access_time_filled</mat-icon>
      <p class="text">{{ currentConfiguration }}</p>
    </div>
  </div>
</div>
